{% extends 'index.html' %}

{% block content %}
<h2>FAQ's</h2>
<div>
    <h5>What is the purpose of the Backend API?</h5>
    <p>The Backend API is designed to help businesses track their CO2 emissions and improve sustainability practices.</p>
</div>
<div>
    <h5>How do I use the API?</h5>
    <p>Simply enter the required start and end dates, select your facility, and submit the form to receive emission data.</p>
</div>
<div>
    <h5>Can I add multiple facilities at once?</h5>
    <p>Yes, you can add multiple facilities by clicking the "Add" button next to each one you wish to select.</p>
</div>
{% endblock %}
